.colorbox{
    text-align: center;
    background: linear-gradient(to left, #7c4dff, #F76FC4 100%);
    color: white;
    font-family: 'TroubleSide';
    font-size: 40px;
    height: 55px;
}

.aboutbox{
    border: grey solid 4px;
    border-radius: 5px;
}

.grid-item{
    border: solid red 1px;
    width:310px;
}

.grid-item-button{
    border: solid transparent 1px;
    width:170px;
    text-align: center;
}

.row{
    column-gap: 0px;
    border: solid red 1px;
    width:98%;
    text-align: left;
}