.colorbox{
    text-align: center;
    background: linear-gradient(to left, #7c4dff, #F76FC4 100%);
    color: white;
    font-family: 'TroubleSide';
    font-size: 40px;
    height: 55px;
}

.aboutbox{
    border: grey solid 4px;
    border-radius: 5px;
}

.grid-item{
    width:31%;
    margin: 5px;
}

.row{
    column-gap: 0px;
}

