.colorbox{
    text-align: center;
    background: linear-gradient(to left, #7c4dff, #F76FC4 100%);
    color: white;
    font-family: 'TroubleSide';
    font-size: 40px;
    height: 55px;
    width: 100%;
}

.aboutbox{
    border: double 4px transparent;
    border-radius: 4px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left,#F76FC4, #7c4dff);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.grid-item{
    width:31%;
    margin: 5px;
}

.row{
    column-gap: 0px;
}

