<span class="titlebox" id="top">
    <img src="assets/BTS_Banner_new.png" alt="Banner" width=100%>
    <p> </p>
    <div class="colorbox">
      <div class="grid-container">
        <div class="row">
          <img id="icon" src="assets/bts-logo.png" alt="BTS Logo" height="55px">
          <span id="icon" style="width:20vw"></span>
          <h1><a routerLink="/" style="color:white">BTS Dash</a></h1>
          <span id="icon" style="width:20vw"></span>
          <img id="icon" src="assets/bts-army-logo.png" alt="BTS Army Logo" height="55px">
        </div>
      </div>
    </div>
</span>