<span class="titlebox">
    <img src="assets/BTS_Banner_new.png" alt="Banner" width=99%>
    <p> </p>
    <div class="colorbox">
      <div class="grid-container">
        <div class="row">
          <img src="assets/bts-logo.png" alt="BTS Logo" height="55px">
          <span style="width:10%"></span>
          <h1>BTS Dash</h1>
          <span style="width:10%"></span>
          <img src="assets/bts-army-logo.png" alt="BTS Army Logo" height="55px">
        </div>
      </div>
    </div>
</span>

<div class="bufferbox">
  <div  class="aboutbox">
    <div class="grid-container">
      <div class="row">
        <div class="grid-item" style="margin-top: 18px;">
          <button mdbBtn gradient="purple" class="waves-light" type="button" (click)="about.toggle()" mdbWavesEffect>
            <span style="font-family: TroubleSide;">About BTS</span>
          </button>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item" style="text-align: right;">
          <iframe src="https://open.spotify.com/embed/artist/3Nrfpe0tUJi4K4DXYWgMUX" 
            width="300" height="80" frameborder="0" allowtransparency="true" 
            allow="encrypted-media">
          </iframe>
        </div>
      </div>
    </div>
    
    <div mdbCollapse #about="bs-collapse">
        <p class="bufferbox" style="font-family: Camber;">BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band that began formation in 2010 and debuted in 2013 under Big Hit Entertainment. 
            The septet—composed of Jin, Suga, J-Hope, RM, Jimin, V, and Jungkook—co-writes and co-produces much of their own output. Originally a hip hop group, their musical style has evolved to include a wide 
            range of genres. Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth, loss, the journey towards loving oneself, and individualism. 
            Their work features references to literature and psychological concepts and includes an alternative universe storyline. The group has released several albums and performed on several world tours. </p>
        <p class="bufferbox" style="font-family: Camber;">This article uses material from the Wikipedia article <a href="https://en.wikipedia.org/wiki/BTS" target="_blank" rel="noopener noreferrer">"BTS"</a>, which is released under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="noopener noreferrer">Creative Commons Attribution-Share-Alike License 3.0</a>.</p>
    </div>
  </div>
</div>