<!-- Footer -->
<footer class="page-footer font-small purple-gradient pt-4">

  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase" style="margin-left: 5px;">About Us</h5>
        <p style="margin-left: 5px;">Hello! BTS-Dash is a fork of 
          <b><u><a href="https://btsdashboard-d7ad5.firebaseapp.com/" target="_blank" rel="noopener noreferrer">BTS-Dashboard</a></u></b>,
           a project that aimed to collect information from the social media accounts of 
          the K-Pop group BTS into one wesbite and have some basic data visualisation on their 
          popularity metrics. BTS-Dash extends that with a new layout, and more detailed, more interactive
          data visualisation. Have some questions? Visit our <b><u><a routerLink="faq">FAQ Page</a></u></b>.
        </p>

      </div>

    </div>
    <!-- Grid row -->

  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">by <b style="color: white;">Alex Hinton </b><a href="https://github.com/hintona" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="github"></mdb-icon></a> | <a href="https://linkedin.com/in/hintona" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="linkedin"></mdb-icon></a>
  </div>
  <!-- Copyright -->

  </footer>
  <!-- Footer -->

