.grid-item-spotify{
    min-width: 250px;
}
 .column{
    min-width: 250px;
    width: 45%;
    row-gap: 20px;
 }
 .underline2{   
    border-bottom: double 4px transparent;
    border-radius: 4px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left,#FF7043, #FF7043);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }