<div class="spacer" id="#"></div>
<div class="grid-container">
    <div class="row">
        <div class="grid-item-spotify">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title><span style="font-size: 20px; font-family: 'TroubleSide'" class="underline">Dynamite Audio Features</span></mdb-card-title>
                    <mdb-card-text>
                        <p>The data is taken from the official Spotify Database</p>
                        <div id="AudioFeatures">
                        </div>
<!--
                        <div id="ButterAudioFeatures">
                        </div>
-->
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="grid-item-spotify">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title><span style="font-size: 20px;font-family: 'TroubleSide'" class="underline">Top 10 Tracks for Each of Top BTS Streaming Countries </span></mdb-card-title>
                        <mdb-card-text >
                            <p>The top ten tracks for each of the top BTS streaming countries world-wide. The data is taken from the official Spotify Database.</p>
                            <div class="grid-container">
                                <div class="row">
                                    <div class="grid-item" id="topTracksUS">
                                        Loading...
                                    </div>
                                    <!--
                                    <div class="grid-item" id="topTracksMX">
                                        Loading...
                                    </div>
                                    <div class="grid-item" id="topTracksPH">
                                        Loading...
                                    </div>
                                    <div class="grid-item" id="topTracksTH">
                                        Loading...
                                    </div>
                                    <div class="grid-item" id="topTracksIN">
                                        Loading...
                                    </div>
                                    <div class="grid-item" id="topTracksBR">
                                        Loading...
                                    </div>
                                    <div class="grid-item" id="topTracksMY">
                                        Loading...
                                    </div>
                                    -->
                                    <div class="grid-item" id="topTracksJP">
                                        Loading...
                                    </div>
                                    <!--
                                    <div class="grid-item" id="topTracksID">
                                        Loading...
                                    </div>
                                    -->
                                    <div class="grid-item" id="topTracksKR">
                                        Loading...
                                    </div>
                                </div>
                            </div>
                        </mdb-card-text>
                    </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
<div class="spacer"></div>