<mdb-card style="min-height: 540px;">
    <mdb-card-body>
        <mdb-card-title><span style="font-size: 20px; font-family: 'TroubleSide'" class="underline">Trending in #BTS</span></mdb-card-title>

        <mdb-card-text>
            <p>Refreshed at: 12:00 AM EST {{ today }} (Every 24 hours)</p>
            <p class="scroll-box">
                <span id="trendingTweets"></span>
            </p>
            <script></script>
            <a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://twitter.com/i/topics/844438182523383808" target="_blank" rel="noopener noreferrer" style="font-family: 'TroubleSide'"><mdb-icon fab icon="twitter"></mdb-icon> #BTS Topic</a>
        </mdb-card-text>

    </mdb-card-body>
</mdb-card>
