<div class="spacer" id="#"></div>
<div class="grid-container">
    <div class="row">
        <div class="grid-item">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title><span style="font-size: 20px; font-family: 'TroubleSide'" class="underline">Total Views on BANGTANTV YouTube</span></mdb-card-title>
                    <mdb-card-text>
                        <p>Powered by <a href="https://mixerno.space/youtube-total-view-counter/UCLkAepWjdylmXSltofFvsYQ" target="_blank" rel="noopener noreferrer">mixerno.space</a></p>
                        <iframe height="80px" width="330px" frameborder="0" src="https://mixerno.space/embed/youtube-total-view-counter/UCLkAepWjdylmXSltofFvsYQ" style="border: 0; width:330px; height:80px;"></iframe>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
<div class="spacer"></div>
<p style="text-align:center; color: gray;">Counters not loading? You may need to enable 3rd party cookies in order to see our counters properly. </p>