<body style="background-color: #f2f2f2;">

    <div class="spacer"></div>

    <div class="grid-container">
        <div class="row">

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/likeshareimg.png" alt="Dark Pink Heart"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> See more about the likes and shares that BTS is getting across different platforms
                    </mdb-card-text>
                
                    <a [routerLink]="['/likeshares']" fragment="#" mdbBtn color="pink" mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Likes & Shares</a>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/followersimg.png" alt="Light Blue Person"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Learn about how many followers BTS is gaining across different platforms
                    </mdb-card-text>
                
                    <a [routerLink]="['/followers']" fragment="#" mdbBtn color="cyan" mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Followers</a>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/temp1.png" alt="ImpressionsImg"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Find out more about what people are thinking about BTS across several platforms
                    </mdb-card-text>
                
                    <a [routerLink]="['/impressions']" fragment="#" mdbBtn color="deep-orange" mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Impressions</a>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/temp2.png" alt="EngagementImg"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Discover how people are interacting with BTS on social media
                    </mdb-card-text>
                
                    <a [routerLink]="['/engagement']" fragment="#" mdbBtn color="yellow" mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Engagement</a>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

</body>