<body style="background-color: #f2f2f2;">

    <div class="spacer"></div>

    <div class="grid-container">
        <div class="row">

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/likeshareimg.png" alt="Dark Pink Heart"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> See more about the likes and retweets that BTS is getting on Twitter
                    </mdb-card-text>
                
                    <div style="text-align: center;">
                        <button (click)="likeshares.toggle()" class="waves-light" type="button" mdbBtn color="pink" mdbWavesEffect mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Likes & Shares</button>
                    </div>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/followersimg.png" alt="Light Blue Person"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Learn about how many followers BTS has across different platforms
                    </mdb-card-text>
                
                    <div style="text-align: center;">
                        <button (click)="followers.toggle()" mdbBtn color="cyan" mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Followers</button>
                    </div>
                    
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/temp1.png" alt="ImpressionsImg"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Find out more about what people are thinking about BTS's music
                    </mdb-card-text>
                
                    <div style="text-align: center">
                        <button (click)="impressions.toggle()" mdbBtn color="deep-orange" mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Impressions</button>
                    </div>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/temp2.png" alt="EngagementImg"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Discover how people are interacting with BTS on social media
                    </mdb-card-text>
                
                    <div style="text-align: center;">
                        <button (click)="engagement.toggle()" mdbBtn color="yellow" mdbWavesEffect style="color:black;  font-family: 'TroubleSide';">Engagement</button>
                    </div>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
</body>
<body>
    <div mdbCollapse #likeshares="bs-collapse">
        <app-likeshares></app-likeshares>
    </div>
    <div mdbCollapse #followers="bs-collapse">
        <app-followers></app-followers>
    </div>
    <div mdbCollapse #impressions="bs-collapse">
        <app-impressions></app-impressions>
    </div>
    <div mdbCollapse #engagement="bs-collapse">
        <app-engagement></app-engagement>
    </div>
</body>