<body style="background-color: #f2f2f2;">

    <div class="spacer"></div>

    <div class="grid-container">
        <div class="row">
            <div class="grid-item-buffer"></div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/spotify-app-logo.png" alt="Spotify Logo"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> See more about how BTS is doing on Spotify, and what their top tracks are in different parts of the world
                    </mdb-card-text>
                
                    <a href="/spotify" mdbBtn color="success" mdbWavesEffect>Spotify Data</a>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item-buffer"></div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/twitter-app-logo.svg" alt="Twitter Logo"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Find out more about how BTS is trending on Twitter, and where in the world people are tweeting about them from
                    </mdb-card-text>
                
                    <a href="/twitter" mdbBtn color="primary" mdbWavesEffect>Twitter Data</a>
                    </mdb-card-body>
                </mdb-card>
            </div>

            <div class="grid-item-buffer"></div>

            <div class="grid-item">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/insta-app-logo.png" alt="Instagram Logo"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                
                    <!--Text-->
                    <mdb-card-text> Learn about how BTS is doing on Instagram, and some additional stuff this is just a placeholder for sizing reasons
                    </mdb-card-text>
                
                    <a href="/insta" mdbBtn gradient="peach" mdbWavesEffect>Instagram Data</a>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>

    <!-- no spacer here, we will use a styled hr line to create the arrow -->

</body>