<app-header></app-header>

<div class="spacer"></div>

  <div class="grid-container">
    <div class="row">
      <div class="column-tweets">
        <div class="grid-item"><app-official-tweets>Loading...</app-official-tweets></div>
      </div>
      <div class="column-tweets">
        <div class="grid-item"><app-trending-tweets>Loading...</app-trending-tweets></div>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
      <div class="column-youtube">
        <div class="grid-item">
          <mdb-card>
            <mdb-card-body>
              <mdb-card-title><a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://www.youtube.com/c/BANGTANTV" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="youtube"></mdb-icon> BTS Youtube</a></mdb-card-title>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed?max-results=1&controls=1&showinfo=0&rel=0&listType=user_uploads&list=BANGTANTV" frameborder="10" allowfullscreen></iframe>
              </div>
              <mdb-card-text>Want to see older videos by BTS? Check out their official YouTube channel!</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>

      <div class="column-spotify">
        <div class="grid-item">
          <mdb-card>
            <mdb-card-body>
              <mdb-card-title><a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="spotify"></mdb-icon> BTS Spotify</a></mdb-card-title>
              <mdb-card-text>
                <div class="" mdbCollapse [isCollapsed]="false" #smallplayer="bs-collapse" style="text-align: center;">
                  <iframe src="https://open.spotify.com/embed/artist/3Nrfpe0tUJi4K4DXYWgMUX" 
                    width="300" height="80" frameborder="0" allowtransparency="true" 
                    allow="encrypted-media"></iframe>
                </div>
                <div class="" mdbCollapse #largeplayer="bs-collapse" style="text-align: center;">
                  <iframe src="https://open.spotify.com/embed/artist/3Nrfpe0tUJi4K4DXYWgMUX" 
                  width="300" height="390" frameborder="0" allowtransparency="true" 
                  allow="encrypted-media"></iframe>
                </div>
              </mdb-card-text>
            </mdb-card-body>
            <mdb-card-footer>
              <button size="sm" type="button" mdbBtn color="link" (click)="largeplayer.toggle()" (click)="smallplayer.toggle()" (click)="toggleClosed()">
                <div *ngIf="expanded; else closed">
                  <mdb-icon fas icon="angle-up"></mdb-icon> Close player
                </div>
                <ng-template #closed><mdb-icon fas icon="angle-down"></mdb-icon> Expand player</ng-template>
                </button>
            </mdb-card-footer>
          </mdb-card>
        </div>
      </div>

      <div class="column-youtube">
        <div class="grid-item">
          <mdb-card>
            <mdb-card-body>
              <mdb-card-title><a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://www.youtube.com/c/HYBELABELS/" target="_blank" rel="noopener noreferrer"><mdb-icon fab icon="youtube"></mdb-icon> Hybe Youtube</a></mdb-card-title>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed?max-results=1&controls=2&showinfo=0&rel=0&listType=user_uploads&list=HYBELABELS" frameborder="10" allowfullscreen></iframe>
              </div>
              <mdb-card-text>Want to see older videos from Hybe Labels? Check out their official YouTube channel!</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

<!-- This is where the instagram part will go -->

<div class="spacer"></div>
  
<app-data-dropdown></app-data-dropdown>

<router-outlet></router-outlet>
<app-footer></app-footer>