<app-header></app-header>

<div class="spacer"></div>

  <div class="grid-container">
    <div class="row">
      <div class="column-tweets">
        <div class="grid-item"><app-official-tweets>Loading...</app-official-tweets></div>
      </div>
      <div class="column-tweets">
        <div class="grid-item"><app-trending-tweets>Loading...</app-trending-tweets></div>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
      <div class="column-youtube">
        <div class="grid-item">
          <mdb-card>
            <mdb-card-body>
              <mdb-card-title><a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://www.youtube.com/c/BANGTANTV" target="_blank" rel="noopener noreferrer" style="font-family: 'TroubleSide'"><mdb-icon fab icon="youtube"></mdb-icon> BTS Youtube</a></mdb-card-title>
              <mdb-card-text>Want to see older YouTube videos by BTS? Check out their official YouTube channel!
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed?max-results=1&controls=1&showinfo=0&rel=0&listType=user_uploads&list=BANGTANTV" frameborder="10" allowfullscreen></iframe>
                </div>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>

      <div class="column-youtube">
        <div class="grid-item">
          <mdb-card>
            <mdb-card-body>
              <mdb-card-title><a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://www.youtube.com/c/HYBELABELS/" target="_blank" rel="noopener noreferrer" style="font-family: 'TroubleSide'"><mdb-icon fab icon="youtube"></mdb-icon> Hybe Youtube</a></mdb-card-title>
              <mdb-card-text>Want to see older videos from Hybe Labels? Check out their official YouTube channel!
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed?max-results=1&controls=2&showinfo=0&rel=0&listType=user_uploads&list=ibighit" frameborder="10" allowfullscreen></iframe>
                </div>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>

<a md-fab id="fab">
  <div class="side-box">
    <mdb-icon fab icon="twitter-square" size="2x" class="white-text" style="margin-top:10px"></mdb-icon>
    <br />
    <mdb-icon fab icon="youtube-square" size="2x" class="white-text"></mdb-icon>
  </div>
</a>

<div class="spacer"></div>
  
<app-data-dropdown></app-data-dropdown>

<router-outlet></router-outlet>
<app-footer></app-footer>