.column-youtube{
    width: 45.5%;
    min-width: 300px;
    justify-content: center;
    max-height: 600px;
}

.column-spotify{
    min-width: 300px;
    min-height: 390px;
}

#fab{
    position: fixed;
    right: 0px;
    bottom: 40%;
    box-shadow: 2px 2px 3px #999;
}
*{
    margin: 0;
}
.md-fab-bottom-right2 {
    position: fixed !important;
}

.side-box{
    width: 50px;
    text-align: center;
    border-radius: 3px;
    background: linear-gradient(to left, #7c4dff,#F76FC4 100%);
}