@font-face {
    font-family: 'TroubleSide';
    src: url('/src/assets/fonts/Regular/TroubleSide.woff2') format('woff2'),
        url('/src/assets/fonts/Regular/TroubleSide.woff') format('woff'),
        url('/src/assets/fonts/Regular/Troubleside-lgjxX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
