<mdb-card>
    <mdb-card-body>
  
      <!--Title-->
      <mdb-card-title>
        <span style="font-size: 20px; font-family: 'TroubleSide';" class="underline">Official Tweets</span>
        <a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://twitter.com/bts_bighit" target="_blank" rel="noopener noreferrer" style="font-family: 'TroubleSide'"><mdb-icon fab icon="twitter"></mdb-icon> @BTS_BIGHIT</a>
        <a mdbBtn type="button" gradient="purple" size="sm" mdbWavesEffect href="https://twitter.com/BTS_twt" target="_blank" rel="noopener noreferrer" style="font-family: 'TroubleSide'"><mdb-icon fab icon="twitter"></mdb-icon> @BTS_TWT</a>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text>
        <p class="scroll-box">
          <span id="tweets">
          </span>
        </p>
        <script></script>
        Refreshed at: 12:00 AM EST {{ today }}
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  