<div class="spacer"></div>
<div id="likeshares" style="text-align: center; font-size: 25px; font-family: 'TroubleSide'; margin-bottom:10px"><span class="underline2">Views</span></div>
<div class="grid-container">

    <div class="row">
        <div class="grid-item">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title><span style="font-size: 20px; font-family: 'TroubleSide'" class="underline">BTS ARMY Twitter Activity by Time</span></mdb-card-title>
                    <mdb-card-text>
                        <p>An overview of the total likes and retweets in #BTS on Twitter over the past seven days</p>
                        <div id="activityChart">
                            <p style="height: 250px">Loading...</p>
                        </div>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    <!--</div>

    <div class="row">-->
        <div class="grid-item">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title><span style="font-size: 20px; font-family: 'TroubleSide'" class="underline">Total Views on BANGTANTV YouTube</span></mdb-card-title>
                    <mdb-card-text>
                        <p>Powered by <a href="https://mixerno.space" target="_blank" rel="noopener noreferrer">mixerno.space</a></p>
                        <iframe height="80px" width="330px" frameborder="0" src="https://mixerno.space/embed/youtube-total-view-counter/UCLkAepWjdylmXSltofFvsYQ" style="border: 0; width:330px; height:80px;"></iframe>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="grid-item">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title><span style="font-size: 20px; font-family: 'TroubleSide'" class="underline">Total Views on Hybe Labels YouTube</span></mdb-card-title>
                    <mdb-card-text>
                        <p>Powered by <a href="https://mixerno.space/" target="_blank" rel="noopener noreferrer">mixerno.space</a></p>
                        <iframe height="80px" width="330px" frameborder="0" src="https://mixerno.space/embed/youtube-total-view-counter/UC3IZKseVpdzPSBaWxBxundA" style="border: 0; width:330px; height:80px;"></iframe>
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

</div>
<div class="spacer"></div>
