<div class="spacer"></div>
<div id="likeshares" style="text-align: center; font-size: 25px; font-family: 'TroubleSide'; margin-bottom:10px"><span class="underline2">Views</span></div>
<div class="grid-container">

    <div class="row">
        <div class="grid-item">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title><span style="font-size: 20px; font-family: 'TroubleSide'" class="underline">BTS ARMY Twitter Activity by Time</span></mdb-card-title>
                    <mdb-card-text>
                        <p>An overview of the total likes and retweets in #BTS on Twitter over the past seven days</p>

                        <div style="display: block">
                            <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [colors]="barChartColors"
                                [chartType]="barChartType">
                            </canvas>
                        </div>

                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
<div class="spacer"></div>
