@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
.underline{    
 background: linear-gradient(to left, #7c4dff, #F76FC4 100%);
  background-position: 0 100%;
    border-radius: 20px;
  background-size: 100% 4px;
 background-repeat: repeat-x;
}

.bufferbox{
    border: 10px solid white;
    width: 90%;
}

.spacer {
  height: 10px;
}